
body {
font-family: Verdana, Arial, "Times New Roman", Times, serif;
color: #000000;
background-color: #FFFFFF;
}

h2 {
    color: #3366FF;
    font-family: "Times New Roman", Times, serif;
    }

h3 {
    color: #00ACE6;
    font-family: "Times New Roman", Times, serif;
    border-bottom: 1px solid #00ACE6;
    padding-left: 35px;
    width: 50px;
    }

#footer {
    border-top: 1px solid black;
    padding-left: 15px;
    font-size: 75%;
    font-family: "sans serif";

}
